* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}

.ex-1-square{
    transition: 2.5s;
    
}
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 3s;

}
.ex-2-square:active{
    width: 100%;
}


.ex-3-square{
    transition: 1.5s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square{
    transition: 2s;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 2s;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.3);
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter: grayscale(1);
}

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: grayscale(1);
    border-radius: 30px;
}

.ex-9-img{
    transition: 2s;
}

.ex-9-img:hover{
    filter: grayscale(1);
    border-radius: 30px;
    transform: scale(1.5);

}

.ex-10-icon{
    animation-name: giramento;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giramento{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-11-icon:hover{
    animation-name: giramento-vendetta;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.76,.21,1,.71);

}

@keyframes giramento-vendetta {
    0%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.ex-12-button:hover .ex-12-top-white{
    animation-name: ex-12-top;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation-name: ex-12-bottom;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes ex-12-top {
    0%{
        left: 10%;
    }
    50%{
        left:calc(100% - 60px);
    }
    100%{
        left: 10%;
    }
}


@keyframes ex-12-bottom {
    0%{
        right: 10%;
    }
    50%{
        right:calc(100% - 60px);
    }
    100%{
        right: 10%;
    }

}

.ex-13-button:hover .ex-13-top-white{
    animation-name: ex-13-top;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.ex-13-button:hover .ex-13-bottom-white{
    animation-name: ex-13-bottom;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes ex-13-top {
    0% {
        left: 10%;
        top: -10px;
    }
    16%{
        left: calc(100% - 30px);
        top: -10px;
    }
    32% {
        left: calc(100% - 30px);
        top: 100%;
    }
    48%{
        left: 0;
        top: 100%;
    }
    64% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes ex-13-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    16%{
        right: calc(100% - 60px);
        bottom: -10px;
    }
    32%{
        right: calc(100% - 60px);
        top: -10px;
    }
    48%{
        right: 0;
        bottom: calc(100% - 10px);
    }
    64% {
        right: -15px;
        bottom: -10px;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }


}